{# Extends #}
{% extends 'templates/base.njk' %}

{% block main %}
  <div class="row starterkit">
    <div class="columns small-12">
      <h1 class="starterkit__heading">Web development starterkit</h1>
      <p class="starterkit__author">Author: <a href="mailto:rizvan.adnan@gmail.com">Haris Begic</a></p>
      <hr>
    </div>

    <div class="columns small-12">
      <h2 class="thin">Gotham Thin</h2>
      <h2 class="normal">Gotham Book</h2>
      <h2 class="normal--italic">Gotham Book Italic</h2>
      <h2 class="medium">Gotham Medium</h2>
      <h2 class="bold">Gotham Bold</h2>
      <h2 class="bold--italic">Gotham Bold Italic</h2>
      <hr>
    </div>

    <div class="columns small-12">
      <div class="color-container color1"></div>
      <div class="color-container color2"></div>
      <div class="color-container color3"></div>
      <div class="color-container color4"></div>
      <div class="color-container color5"></div>
    </div>
  </div>
{% endblock %}
